/* Buttons */
button {
  background-color: transparent;
  border: none;
}

button:hover {
  transform: scale(1.15);
  cursor: pointer;
}

/* Theme toggle */
.theme-toggle {
  display: flex;
  align-items: center;
}

/* Theme slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

/* Switch change theme */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.switch input:checked + .slider {
  background-color: #2196f3;
}

.switch input:checked + .slider::before {
  transform: translateX(26px);
}

/* Dark and Light themes */
body.dark-mode {
  color-scheme: dark;
  background-color: #111;
  color: #fff;
}

body {
  color-scheme: light;
  background-color: #fff;
  color: #000;
}